/*-----------------------------------*\
     GAME COMPONENT
/*-----------------------------------*/
.main-game {
	width: 310px;
	width: calc(100% - 60px);
	max-width: 337px;
	height: 282px;
	margin: 0 auto;
	margin-top: 90px;
	position: relative;
	background-image: url("../assets//bg-triangle.svg");
	background-position: center;
	background-size: 77% 63%;
	background-repeat: no-repeat;
	transition: transform 150ms ease;
}

.main-game-no-background {
	background: unset;
}

.main-game-transform {
	transform: translateY(-5%);
}

/*-----------------------------------*\
     GAME CARD
/*-----------------------------------*/
.game-card {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid transparent;
	transition: all 200ms ease;
}

.game-card span {
	display: none;
}

@media screen and (max-width: 320px) {
	.game-card {
		width: 120px;
		height: 120px;
	}
}

.game-card:hover {
	transform: scale(1.1);
}

.game-card:hover > div {
	filter: brightness(1.07);
}

.game-card-image-container {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: rgb(234 235 234);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 5px 1px 0px rgb(185 192 193) inset;
	transition: all 150ms ease;
}

@media screen and (max-width: 335px) {
	.game-card {
		width: 120px;
		height: 120px;
	}

	.game-card-image-container {
		width: 98px;
		height: 98px;
	}
}

.game-card img {
	display: block;
}

.paper-card {
	background-image: radial-gradient(rgb(72, 101, 244), rgb(86, 113, 245));
	position: absolute;
	top: 0%;
	left: 0%;
	outline: none;
	background-color: unset;
	box-shadow: rgb(40 63 159) 1px 7px 0px 0px;
}

.scissors-card {
	background-image: radial-gradient(rgb(236, 158, 14), rgb(236, 169, 34));
	position: absolute;
	top: 0%;
	left: 60%;
	outline: none;
	background-color: unset;
	box-shadow: rgb(179 128 27) 1px 7px 0px 0px;
}

.scissors-card-transform {
	left: 0%;
}

.rock-card {
	background-image: radial-gradient(rgb(220, 46, 78), rgb(221, 64, 93));
	position: absolute;
	top: 54%;
	left: 50%;
	transform: translateX(-50%);
	outline: none;
	background-color: unset;
	box-shadow: rgb(174 47 68) 1px 7px 0px 0px;
}

.rock-card-transform {
	transform: translateX(0%);
	left: 0%;
	top: 0%;
}

.rock-card:hover {
	transform: translateX(-50%) scale(1.1);
}

.rock-card-transform:hover {
	transform: scale(1.2);
}

/* .picked-card {
	position: relative;
} */

.picked-card:hover {
	transform: unset;
}

.picked-card:hover span {
	filter: brightness(1);
}

.computer-pick {
	position: absolute;
	left: 60%;
	top: 0%;
}

.computer-pick:hover {
	transform: unset;
}

.picked-card > span,
.computer-pick > span {
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	text-transform: uppercase;
	width: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-family: var(--font);
	font-size: 16px;
	letter-spacing: 1.5px;
}

.computer-pick-placeholder {
	position: absolute;
	top: 4%;
	left: 63.1%;
	width: 6.875rem;
	height: 6.875rem;
	background-color: #0f182a;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 1px #0000001a;
	animation: pulse-animation 1.9s infinite ease;
}

@keyframes pulse-animation {
	0% {
		transform: scale(1.1);
		box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1.1);
		box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
	}
}

.computer-pick.rock-card {
	transform: translateX(0%);
}

.computer-pick.rock-card:hover {
	transform: translateX(0%);
}

/*-----------------------------------*\
		 GAME RESULT
/*-----------------------------------*/

.game-result {
	margin: 0 auto;
	width: 100%;
	position: absolute;
	bottom: -50%;
	left: 50%;
	transform: translateX(-50%);
}

.result-win-lose {
	margin: 0 auto;
	text-align: center;
}

.result-win-lose > p {
	text-transform: uppercase;
	color: white;
	font-size: 62px;
	font-weight: 700;
}

.result-button-container {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 51px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.result-button {
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: var(--font);
	color: #1f3756;
	width: 100%;
	max-width: 240px;
	height: 48px;
	background-color: white;
	border: none;
	border-radius: 8px;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: #00000070 3px 3px 10px 2px;
	transition: box-shadow 150ms ease, color 150ms ease;
	cursor: pointer;
}

.result-button:hover {
	box-shadow: #00000070 3px 3px 10px 6px;
	color: rgb(232 67 101);
}

/* Removes hover effect for devices 1000px and below  */
@media screen and (max-width: 1000px) {
	.game-card:hover {
		filter: brightness(1.1);
		transform: unset;
	}

	.rock-card:hover {
		transform: translateX(-50%);
	}

	.rock-card-transform:hover {
		transform: unset;
	}
}

@media screen and (min-width: 1000px) {
	.main-game {
		margin-top: 80px;
		max-width: unset;
		width: 477px;
		height: 422px;
		/* border: 1px solid black; */
	}

	.main-game-transform {
		transform: translateY(0%);
	}

	.game-card {
		width: 200px;
		height: 195px;
	}

	.picked-card,
	.computer-pick {
		width: 293px;
		height: 287px;
		top: 5%;
	}

	.paper-card-transform {
		left: -23%;
	}

	.scissors-card-transform {
		left: -23%;
	}

	.rock-card-transform {
		left: -23%;
	}

	.picked-card > .game-card-image-container,
	.computer-pick > .game-card-image-container {
		width: 225px;
		height: 225px;
	}

	.picked-card .paper-image,
	.computer-pick.paper-card img {
		width: 99px;
		height: 119px;
	}

	.picked-card .scissors-image,
	.computer-pick.scissors-card img {
		width: 103px;
		height: 115px;
	}

	.picked-card .rock-image,
	.computer-pick.rock-card img {
		width: 96px;
		height: 96px;
	}

	.paper-card img {
		width: 66px;
		height: 80px;
	}

	.scissors-card img {
		width: 69px;
		height: 79px;
	}

	.rock-card img {
		width: 65px;
		height: 65px;
	}

	.game-card-image-container {
		width: 153px;
		height: 153px;
		box-shadow: 0px 7px 1px 0px rgb(185 192 193) inset;
	}

	.picked-card > span,
	.computer-pick > span {
		top: -24%;
		bottom: unset;
		font-size: 25px;
		width: 240px;
	}

	.computer-pick-placeholder {
		position: absolute;
		top: 7.3%;
		left: 69.3%;
		width: 225px;
		height: 225px;
		z-index: 9;
	}

	.game-result {
		bottom: -2%;
		transform: translateX(-50%) scale(0.7);
	}

	@keyframes pulse-animation {
		0% {
			transform: scale(1);
			box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
		}
		50% {
			transform: scale(1.12);
		}
		100% {
			transform: scale(1);
			box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.176);
		}
	}
}
