#root {
	width: 100%;
	min-height: 100vh;
}

.app {
	max-width: 900rem;
	min-height: 100vh;
	/* display: flex;
	flex-direction: column;
	justify-content: space-between; */
	position: relative;
}

@media screen and (min-height: 800px) {
	.app {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	footer {
		margin-bottom: 2rem;
	}
}

header {
	width: 100%;
	margin-top: 2rem;
}

.header-container {
	width: calc(100% - 30px);
	max-width: 500px;
	height: 6.125rem;
	border: 3px solid #606e85;
	border-radius: 0.3125rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	padding-right: 0.75rem;
	padding-left: 1.5625rem;
}

.game-logo-container {
	width: 85px;
	height: 50px;
}

.game-logo {
	display: block;
	max-width: 100%;
}

/*-----------------------------------*\
     SCORE
/*-----------------------------------*/

.score-div {
	background-color: white;
	width: 5rem;
	height: 4.5rem;
	border-radius: 0.3125rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.score-description {
	text-transform: uppercase;
	color: #2a46c0;
	font-weight: 700;
	font-size: 9px;
	letter-spacing: 1px;
}

.score-count {
	color: #3b4363;
	font-size: 2.1875rem;
	font-weight: 700;
}

/*-----------------------------------*\
     FOOTER
/*-----------------------------------*/

footer {
	width: calc(100% - 30px);
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 2rem;

	margin-top: 10em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-button {
	width: 8.4375rem;
	height: 2.1875rem;
	color: white;
	display: block;
	background-color: transparent;
	outline: none;
	border: 2px solid #ffffffbe;
	border-radius: 9px;
	font-family: var(--font);
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
	transition: all 200ms ease;
}

.footer-button:hover {
	background-color: #ffffffbe;
	color: #141539;
}

/*-----------------------------------*\
		 RULES
/*-----------------------------------*/
#rules {
	height: 100%;
	background-color: white;
	will-change: transform;
}

.rules-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 4.3125rem;
	padding-bottom: 4.125rem;
}

@media screen and (max-height: 520px) {
	.rules-container {
		height: 700px;
	}
}

h2 {
	text-transform: uppercase;
	color: rgb(59 66 95);
	text-align: center;
	font-weight: 700;
	font-size: 30px;
}

.rules-image-container {
	max-width: 305px;
	height: auto;
}

.rules-image-container img {
	display: block;
	max-width: 100%;
}

.rules-close-button-container {
	width: 35px;
	height: 35px;
}

.rules-close-button {
	display: block;
	border: 1px solid transparent;
	outline: none;
	background-color: transparent;
	transition: all 200ms ease;
	cursor: pointer;
	width: 30px;
	height: 30px;
	padding: 4px;
	border-radius: 5px;
}

.rules-close-button:hover {
	border: 1px solid grey;
}

.rules-close-button > img {
	width: 100%;
	max-width: 100%;
	display: block;
}
